@import 'vars';
@import 'fonts';
@import 'global';
@import 'media';
@import 'reset';


.hello {
  background-color: pink;

  &__message {
    color: #000;
  }

  &__message-hi {
    color: aqua;
  }
  
}